<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{common/base :: head}"></head>

<body>
    <div th:replace="~{common/base :: loader}"></div>
    <header th:replace="~{common/base :: header}"></header>

    <section class="cart padding-large">
        <div class="container">
            <div class="row">
                <div class="cart-table">
                    <div class="cart-header border-bottom border-top">
                        <div class="row d-flex text-capitalize">
                            <h4 class="col-lg-4 py-3 m-0">Product</h4>
                            <h4 class="col-lg-3 py-3 m-0">Quantity</h4>
                            <h4 class="col-lg-4 py-3 m-0">Subtotal</h4>
                        </div>
                    </div>
                    <div id="cart-main"></div>
                </div>
                <div class="cart-totals padding-medium pb-0">
                    <h3 class="mb-3">Cart Totals</h3>
                    <div class="total-price pb-3">
                        <table cellspacing="0" class="table text-capitalize">
                            <tbody>
                                <tr class="order-total pt-2 pb-2 border-bottom">
                                    <th>Total</th>
                                    <td data-title="Total">
                                        <span class="price-amount amount text-primary ps-5 fw-light">
                                            <bdi>
                                                <span class="price-currency-symbol" id="total"></span></bdi>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="button-wrap d-flex flex-wrap gap-3">
                        <a href=".shop" class="btn">Continue Shopping</a>
                        <a href="/checkout" class="btn">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer th:replace="~{common/base :: footer}"></footer>

    <script>

        function renderCart() {
            $.ajax({
                url: "/api/cart",
                type: "GET",
                success: function (items) {
                    console.log(items);
                    $("#cart-main").html(items.map(item => `
                        <div class="cart-item border-bottom padding-small">
                            <div class="row align-items-center">
                                <div class="col-lg-4 col-md-3">
                                    <div class="cart-info d-flex gap-2 flex-wrap align-items-center">
                                        <div class="col-lg-5">
                                            <div class="card-image">
                                                <img src="${item.product.imgUrl}" alt="cart-img"
                                                    class="img-fluid border rounded-3">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="card-detail">
                                                <h5 class="mt-2"><a href="single-product.html" th:text="${item.product.name}"></a></h5>
                                                <div class="card-price">
                                                    <span class="price text-primary fw-light"
                                                        data-currency-usd="$2000.00">$${item.product.price}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-7">
                                    <div class="row d-flex">
                                        <div class="col-lg-6">
                                            <div class="product-quantity my-2">
                                                <div class="input-group product-qty align-items-center"
                                                    style="max-width: 150px;">
                                                    <span class="input-group-btn">
                                                        <button type="button"
                                                            class="bg-white shadow border rounded-3 fw-light quantity-left-minus"
                                                            data-type="minus" data-field="${item.product.id}">
                                                            <svg width="16" height="16">
                                                                <use xlink:href="#minus"></use>
                                                            </svg>
                                                        </button>
                                                    </span>
                                                    <input type="text" id="quantity" name="quantity"
                                                        class="form-control bg-white shadow border rounded-3 py-2 mx-2 input-number text-center"
                                                        min="1" max="100" required="" value="${item.quantity}">
                                                    <span class="input-group-btn">
                                                        <button type="button"
                                                            class="bg-white shadow border rounded-3 fw-light quantity-right-plus"
                                                            data-type="plus" data-field="${item.product.id}">
                                                            <svg width="16" height="16">
                                                                <use xlink:href="#plus"></use>
                                                            </svg>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="total-price">
                                                <span class="money fs-2 fw-light text-primary">$${item.subTotal}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-md-2">
                                    <div class="cart-cross-outline" onclick="deleteItem(${item.product.id})">
                                        <a href="#">
                                            <svg class="cart-cross-outline" width="38" height="38">
                                                <use xlink:href="#cart-cross-outline"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    `).join(''));

                    $("#total").text(`$${items.reduce((total, item) => total + item.subTotal, 0)}`);
                    initProductQty();
                }
            });
        }

        function deleteItem(id) {
            $.ajax({
                url: "/api/cart/" + id,
                type: "DELETE",
                success: function () {
                    renderCart();
                    toastr.success("Item removed from cart");
                }
            });
        }

        function initProductQty() {
            $('.product-qty').each(function () {
                var $el_product = $(this);
                var quantity = 0;

                $el_product.find('.quantity-right-plus').click(function (e) {
                    e.preventDefault();
                    var quantity = parseInt($el_product.find('#quantity').val());
                    $el_product.find('#quantity').val(++quantity);

                    let productId = parseInt($(this).data('field'));
                    updateCart(productId, quantity)
                });

                $el_product.find('.quantity-left-minus').click(function (e) {
                    var quantity = parseInt($el_product.find('#quantity').val());
                    if (quantity > 0) {
                        $el_product.find('#quantity').val(--quantity);
                    }

                    let productId = parseInt($(this).data('field'));
                    updateCart(productId, quantity)
                });

            });

        }

        function updateCart(productId, quantity) {
            $.ajax({
                url: "/api/cart",
                type: "PUT",
                contentType: "application/json",
                data: JSON.stringify({
                    productId: productId,
                    quantity: quantity
                }),
                success: function () {
                    renderCart();
                }
            });
        }

        $(document).ready(function () {
            renderCart();
        })
    </script>
</body>

</html>