<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{common/base :: head}"></head>

<body>
    <div th:replace="~{common/base :: loader}"></div>
    <header th:replace="~{common/base :: header}"></header>
    <div class="padding-medium">
        <div class="container padding-large pb-0">
            <div class="row">
                <section class="checkout-wrap">
                    <form th:object="${order}" th:action="@{/checkout}" method="post">
                        <div class="row d-flex flex-wrap">
                            <div class="col-12">
                                <div class="card shadow mb-5 border-0">
                                    <div class="card-header bg-primary py-3">
                                        <h4 class="text-center">BILLING</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="billing-details">
                                            <label class="py-3"><strong>Payment</strong></label>
                                            <div class="row">
                                                <div th:each="payment: ${payments}" class="col-3">
                                                    <div class="card p-3 border-0 shadow">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio"
                                                                th:field="*{paymentId}" th:value="${payment.id}">
                                                            <label class="form-check-label">
                                                                <p class="fw-bold" th:text="${payment.cardName}"></p>
                                                                <div class="fs-6 fw-light">
                                                                    <div th:text="${payment.holderName}"></div>
                                                                    <div>[[${payment.cardNumber}]] [[${payment.cvc}]]
                                                                    </div>
                                                                    <div>[[${payment.expiryMonth}]] /
                                                                        [[${payment.expiryYear}]]</div>
                                                                </div>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <p th:if="${#fields.hasErrors('paymentId')}" th:errors="*{paymentId}"
                                                    class="text-danger"></p>
                                            </div>

                                            <label class="py-3"><strong>Additional Notes</strong></label>
                                            <textarea class="form-control pt-3 pb-3 ps-3 mt-2 mb-4"
                                                placeholder="Notes about your order. Like special notes for delivery."
                                                th:field="*{note}" rows="3"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card shadow mb-5 border-0">
                                    <div class="card-header bg-primary py-3">
                                        <h4 class="text-center">CART</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="cart-totals">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Name</th>
                                                        <th scope="col">Price</th>
                                                        <th scope="col">Quantity</th>
                                                        <th scope="col">Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr th:each="item, status: ${cart.items}">
                                                        <th th:text="${status.index + 1}"></th>
                                                        <td th:text="${item.product.name}"></td>
                                                        <td th:text="${item.product.price}"></td>
                                                        <td th:text="${item.quantity}"></td>
                                                        <td th:text="${item.subTotal}"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="row total-price  pt-5">
                                                <div class="col">
                                                    <table>
                                                        <tbody>
                                                            <tr class="order-total pt-2 pb-2">
                                                                <th>Total</th>
                                                                <td data-title="Total">
                                                                    <span
                                                                        class="price-amount amount text-primary ps-5 fw-light">
                                                                        <bdi>
                                                                            <span
                                                                                class="price-currency-symbol">$</span>[[${cart.total}]]</bdi>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="col">
                                                    <input type="submit" value="Place An Order"
                                                        class="btn btn-primary ${cart.items.size() > 0 ? '': 'disabled'}" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>

    <footer th:replace="~{common/base :: footer}"></footer>
    <script>

    </script>
</body>

</html>